[Unit]
Description=BeagleBrew3 service
After=network.service

[Service]
Type=simple
ExecStart=INSTALL_LOCATION/bin/python3 -u INSTALL_LOCATION/BeagleBrew3/beaglebrew3.py 2>&1
WorkingDirectory=INSTALL_LOCATION

[Install]
WantedBy=multi-user.target
