Adafruit-BBIO==0.0.30
Adafruit-DHT==1.2.0
cryptography==1.4
enum34==1.1.6
Flask==0.10.1
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.1rc1
pyasn1==0.1.9
pygobject==3.20.1
pyOpenSSL==16.0.0
pyserial==3.1
python-apt==1.1.0b4
python-gsmmodem==0.9
six==1.10.0
smbus==1.1
Werkzeug==0.11.9

